{% include 'partials/header.html' %}
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand text-warning" href="#">STARWARS DB</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" href="{{url_for('index')}}">Home</a>
      <a class="nav-item nav-link" href="{{url_for('movies')}}">Movies</a>
      <a class="nav-item nav-link" href="{{url_for('series')}}">Series</a>
      <a class="nav-item nav-link" href="{{url_for('games')}}">Games</a>
    </div>
  </div>
</nav>
<section class="bg-dark">
{% block content %}
{% endblock %}
</section>

{% include 'partials/footer.html' %}