{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row py-5">
        <div class="col p-3 text-center">
            <h1 style="font-weight: 100" class="text-warning text-uppercase display-1">Games</h1>
        </div>
    </div>
    {% for game in games %}
    <div class="row py-5">
        <div class="col-4 my-3">
            <img src="../static/images/db_images/{{game.poster}}"  width="100%" alt="">
        </div>
        <div class="col-8">
            <h3 class="text-warning display-4">{{game.title}}</h3>
            <h6 class="text-light">Year Released: {{game.year_made}}</h6>
            <h6 class="text-light">Gaming System: {{game.gaming_system}}</h6>
            <hr class="bg-warning">
            <p class="text-light">{{game.synopsis}}</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}